<div class="col-sm-12">
    <div class="card">
      <div class="card-header text-center">
          <h3>Uninvoiced Orders List</h3>
        </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped bg-primary">
            <thead class="text-center">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Order No</th>
                <th scope="col">Submitted On</th>
                <th scope="col">Recieved On</th>
                <th scope="col">Design Name</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <!-- 1st Row Start -->
              <tr>
                <th scope="row">1</th>
                <td>eDO-5403</td>
                <td>2023-04-16</td>
                <td>2023-05-20</td>
                <td>quote testing::eDQ-397</td>
                <td>$ 10.00</td>
            </tr>
              <!-- 1ND Row End -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  