<div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="text-center text-primary fs-5">QUOTE DETAILS</h2>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-border-vertical">
              <thead>
                <tr>
                  <th scope="col" style="background-color: #efefef; width: 29% !important;">Quote Number</th>
                  <th scope="col" style="background-color: #f9f9f9">VQ-2551</th>
                </tr>
              </thead>
              <tbody class="tableStyle text-start">
                <!-- 1st Row START -->
                <tr>
                  <td>Vector Name</td>
                  <td>Test</td>
                </tr>
                <tr>
                  <td>Date</td>
                  <td>2024-03-14</td>
                </tr>
                <tr>
                  <td>Vector Instructions</td>
                  <td>Test Description</td>
                </tr>
                <tr>
                  <td>Client Artwork</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Vector Price</td>
                  <td>$ 10.00 USD</td>
                </tr>
                
                <!-- 1st Row END -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <div class="col-sm-6"></div> -->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="text-center text-primary  fs-5">QUOTE SPECIFICATION</h2>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-border-vertical">
              <thead>
                <tr>
                  <th scope="col" style="background-color: #efefef; width: 29% !important;">Price</th>
                  <th scope="col" style="background-color: #f9f9f9">$ 10.00 USD</th>
                </tr>
              </thead>
              <tbody class="tableStyle text-start">
                <!-- 1st Row START -->
                <tr class="w-100">
                  <td>Edit</td>
                  <td ><button class="btn btn-primary">Edit Quote</button><br><span class="text-danger">Once a quote is converted to an order, it cannot be edited.</span></td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>Has been converted in Ref# eDO-5403 on 2023-04-16</td>
                </tr>
                <tr>
                  <td>Vector Files</td>
                  <td>PO-97-samad Vector order.jpg</td>
                </tr>
                <tr>
                  <td> </td>
                  <td>PO-97-samad Vector order.jpg</td>
                </tr>
                <!-- 1st Row END -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row d-flex justify-content-center">
    <!-- <div class="col-sm-6"></div> -->
  </div>
  