<div class="col-sm-12">
    <div class="card">
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped bg-primary">
            <thead class="text-center">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Order Number</th>
                <th scope="col">Design Name</th>
                <th scope="col">Submitted On</th>
                <th scope="col">Received On</th>
                <th scope="col">Price</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <!-- 1st Row Start -->
              <tr>
                <th scope="row">1</th>
                <td>eDO-5404</td>
                <td>king's mountain::eVO-2549</td>
                <td>03-20-2023</td>
                <td>processing</td>
                <td>$ 0.00</td>
                <td class="highlightcell"><a href="orders/vector-order-records-view" >View...</a></td>
              </tr>
              <!-- 1ND Row End -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  