<div class="col-sm-12">
    <div class="card">
      <!-- <div class="card-header text-center">
        <h3>Digitizing Orders</h3>
      </div> -->
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped bg-primary ">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Date</th>
                <th scope="col">Order Number</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Order Name</th>
                <th scope="col">Agent</th>
                <th scope="col">Country</th>
                <th scope="col">Sent On</th>
                <th scope="col">Digitizer</th>
                <th scope="col">QC</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
                <th scope="col">Delete</th>
                <th scope="col">Details</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <!-- 1st Row Start -->
              <tr>
                <th scope="row">1</th>
                <td>-</td>
                <td>PDO-05918</td>
                <td><a href="#">robert Guzman</a> (1)</td>
                <td>
                  Ingram <span class="badge badge-success">New</span>
                   <span class="badge badge-primary">Urgent</span>
                </td>
                <td>-</td>
                <td>USA</td>
                <td>processing</td>
                <td>
                  <select class="form-select form-control">
                    <option>Select</option>
                  </select>
                </td>
                <td>
                  <select class="form-select form-control">
                    <option>Select</option>
                  </select>
                </td>
                <td ><i class="icofont icofont-close fs-3" style="color: #ff0000;"></i></td>
                <td>$0.00</td>
                <td><a href="#">Delete</a></td>
                <td><a href="#">Details</a></td>
              </tr>
              <!-- 1ND Row End -->
              <!-- 2ND Row Start -->
              <tr>
                <th scope="row">1</th>
                <td>-</td>
                <td>PDO-05918</td>
                <td><a href="#">robert Guzman</a> (1)</td>
                <td>
                  Ingram <span class="badge badge-danger">Urgent</span>
                   <span class="badge badge-primary">Edit</span>
                </td>
                <td>-</td>
                <td>USA</td>
                <td>processing</td>
                <td>
                  <select class="form-select form-control">
                    <option>Select</option>
                  </select>
                </td>
                <td>
                  <select class="form-select form-control">
                    <option>Select</option>
                  </select>
                </td>
                <td >
                  <i class="icofont icofont-tick-mark fs-2" style="color: #5ccc3e;"></i></td>
                <td>$0.00</td>
                <td><a href="#">Delete</a></td>
                <td><a href="#">Details</a></td>
                <td><a href="#">Edit</a></td>
              </tr>
              <!-- 2ND Row End -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  