  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="text-center text-primary fs-5">QUOTE DETAILS</h2>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-border-vertical">
              <thead>
                <tr>
                  <th scope="col" style="background-color: #efefef; width: 29% !important;">Quote Number</th>
                  <th scope="col" style="background-color: #f9f9f9">PPQ-37</th>
                </tr>
              </thead>
              <tbody class="tableStyle text-start">
                <!-- 1st Row START -->
                <tr>
                  <td>PO</td>
                  <td> -</td>
                </tr>
                <tr>
                  <td>Design Name</td>
                  <td>test</td>
                </tr>
                <tr>
                  <td>Date</td>
                  <td>2023-04-10</td>
                </tr>
                <tr>
                  <td>Height</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>Width</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Placement</td>
                  <td>Cap Front</td>
                </tr>
                <tr>
                  <td>Fabric</td>
                  <td>quote test</td>
                </tr>
                <tr>
                  <td>Patch Type</td>
                  <td>Embroidered</td>
                </tr>
                <tr>
                  <td>Quantity</td>
                  <td></td>
                </tr>
                <tr>
                    <td>Backing	</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Merrow Border</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Shipping Address (Optional)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Delivery Date</td>
                    <td></td>
                </tr>
                 <tr>
                    <td>Requirement</td>
                    <td></td>
                 </tr>
                 <tr>
                    <td>Instructions</td>
                    <td></td>
                 </tr>
                 <tr>
                    <td>Artwork</td>
                    <td></td>
                 </tr>
                <!-- 1st Row END -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="text-center text-primary  fs-5">QUOTE SPECIFICATION</h2>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-border-vertical">
              <thead>
                <tr>
                  <th scope="col" style="background-color: #efefef; width: 29% !important;">Price</th>
                  <th scope="col" style="background-color: #f9f9f9">$ 100.00 USD</th>
                </tr>
              </thead>
              <tbody class="tableStyle text-start">
                <!-- 1st Row START -->
                <tr>
                  <td>Mockup Files</td>
                  <td></td>
                </tr>
                <tr class="w-100">
                  <td>Edit</td>
                  <td ><button class="btn btn-primary">Edit Quote</button><br><span class="text-danger">Once a quote is converted to an order, it cannot be edited.</span></td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>Has been converted in Ref# eDO-5403 on 2023-04-16</td>
                </tr>
                <!-- 1st Row END -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
