<div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="text-center text-primary fs-5">ORDER DETAILS</h2>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-border-vertical tableViewStyle">
              <thead>
                <tr>
                  <th scope="col" style="background-color: #efefef; width: 29% !important;">Order Number</th>
                  <th scope="col" style="background-color: #f9f9f9">eDO-5404</th>
                </tr>
              </thead>
              <tbody class="tableStyle text-start">
                <!-- 1st Row START -->
                <tr>
                  <td>Purchase Order No</td>
                  <td>456</td>
                </tr>
                <tr>
                  <td>Design Name</td>
                  <td>testing order::eDO-5401</td>
                </tr>
                <tr>
                  <td>Date</td>
                  <td>2023-06-12</td>
                </tr>
                <tr>
                  <td>Height</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Width</td>
                  <td>21</td>
                </tr>
                <tr>
                  <td>Placement</td>
                  <td>Cap Front</td>
                </tr>
                <tr>
                  <td>Fabric</td>
                  <td>Stretchy Polyester/Light Knit</td>
                </tr>
                <tr>
                  <td>Format</td>
                  <td>Tajima Machine File (.DST)</td>
                </tr>
                <tr>
                    <td>Instructions</td>
                    <td>CHANGES GOES HERE</td>
                  </tr>
                  <tr>
                    <td>Artwork</td>
                    <td>Artwork1</td>
                  </tr>
                <!-- 1st Row END -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="text-center text-primary  fs-5">ORDER SPECIFICATION</h2>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-border-vertical">
              <thead>
                <tr>
                  <th scope="col" style="background-color: #efefef; width: 29% !important;">Price</th>
                  <th scope="col" style="background-color: #f9f9f9">$ 100.00 USD</th>
                </tr>
              </thead>
              <tbody class="tableStyle text-start">
                <!-- 1st Row START -->
                <tr class="w-100">
                  <td>Edit</td>
                  <td ><button class="btn btn-primary">Edit Order</button><br><span class="text-success">Has been edited.</span></td>
                </tr>
                <tr>
                  <td>Digitize Files</td>
                  <td>PO-97-samad Digitize order.jpg</td>
                </tr>
                <tr>
                  <td> </td>
                  <td>PO-97-samad Digitize order.jpg</td>
                </tr>
                <!-- 1st Row END -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-6"></div> -->
  </div>
  
  <div class="row d-flex justify-content-center">
    <!-- <div class="col-sm-6"></div> -->
  </div>
  