<div class="col-sm-12">
    <div class="card">
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped bg-primary">
            <thead class="text-center">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Order No</th>
                <th scope="col">PO No</th>
                <th scope="col">Design Name</th>
                <th scope="col">Submitted On</th>
                <th scope="col">Received On</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <!-- 1st Row Start -->
              <tr>
                <th scope="row">1</th>
                <td>ePO-96_87</td>
                <td>4444</td>
                <td>Place Patch Order'</td>
                <td>03-20-2023</td>
                <td>processing</td>
                <td>$ 50.00</td>
                <td>Processing</td>
                <td><a href="orders/patch-order-records-view" >View...</a></td>
              </tr>
              <!-- 1ND Row End -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  