<div class="card">
    <div class="card-body">
      <div class="container-fluid mb-5 mt-3">
        <div class="card">
            <div class="ribbon ribbon-bookmark ribbon-right ribbon-danger fs-3">UNPAID</div>

        </div>
        <div class="invoice_Heading">
                <img src="assets/images/logo/logo.png" alt="">
            <div class="emailHeading" style="text-align: right;">
                <h6>Edigit<br>
                    1(123) 456-7890 <br>
                    design randawacrete.com</h6>
            </div>
        </div>
        <hr>
        <div class="container-fluid" >
            
          <div class="col-md-12 invoice_No" style="background-color: lightgray;">
            <div class="text-start">
              <h5><b>Invoice #INV-7909</b></h5><h6>Invoice Date: 2023-06-10</h6> 
            </div>
  
          </div>
          <hr>
  
  
          <div class="row">
            <div class="col-xl-8">
              <ul class="list-unstyled"><br><br>
                <li class="text-muted cust_detail"> <h5><b>Invoiced To:</b></h5><span style="color:#5d9fc5 ;">Kabeer Bhai</span></li>
                <li class="text-muted">Saddar, Karachi</li>
                <li class="text-muted">Sindh, Pakistan</li>
                <li class="text-muted"><i class="fa fa-phone"></i> 0321-2254624</li>
                <br><br>
              </ul>
            </div>

          </div>
  <hr>
          <div class="table-responsive">
            <table class="table table-border-vertical tableCust table-striped" >
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                        <th scope="col">PO#</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">5</th>
                        <td>An ecommerce site.</td>
                        <td>4444</td>
                        <td>2023-06-21</td>
                        <td>$ 50.00</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>An ecommerce site.</td>
                      <td>4444</td>
                      <td>2023-06-21</td>
                      <td>$ 50.00</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>An ecommerce site.</td>
                    <td>4444</td>
                    <td>2023-06-21</td>
                    <td>$ 50.00</td>
                </tr>
                </tbody>
                <tfoot>
                    <tr >
                        <td colspan="2" class="text-end">   </td>
                        <td colspan="2" class="text-end">Total :</td>
                        <td colspan="5" class="text-start"> $ 50.00</td>
                    </tr>
                </tfoot>
            </table>
        </div>
          <hr>
          <div class="row">
            <div class="col-xl-12 text-end">
                <button type="btn btn-primary" class="btn btn-primary text-capitalize">Pay Invoice</button>
              </div><br><br>
            <div class="col-xl-12 text-center">
              <h5>This is computer generated invoice no signature required.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>