<div class="col-sm-12">
  <div class="card">
    <!-- <div class="card-header text-center">
        <h3>Digitizing Orders</h3>
      </div> -->
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-striped bg-primary">
          <thead class="text-center">
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Quote No</th>
              <th scope="col">PO</th>
              <th scope="col">Design Name</th>
              <th scope="col">Submitted On</th>
              <th scope="col">Recieved On</th>
              <th scope="col">Price</th>
              <th scope="col">Status</th>
              <th scope="col">Convert To Order</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <!-- 1st Row Start -->
            <tr>
              <th scope="row">1</th>
              <td>PPQ-37</td>
              <td></td>
              <td>asdf</td>
              <td>05-14-2022</td>
              <td>processing</td>
              <td>$ 0.00</td>
              <td>Processing</td>
              <td class="highlightcell"></td>
              <td class="highlightcell"><a href="quotes/patch-view" >View...</a></td>
            </tr>
            <!-- 1ND Row End -->
            <tr>
              <th scope="row">2</th>
              <td>PPQ-37</td>
              <td></td>
              <td>asdf</td>
              <td>05-14-2022</td>
              <td>processing</td>
              <td>$ 0.00</td>
              <td>Processing</td>
              <td class="highlightcell"></td>
              <td class="highlightcell"><a href="quotes/patch-view">View...</a></td>
            </tr>

            <tr>
              <th scope="row">3</th>
              <td>PPQ-37</td>
              <td></td>
              <td>asdf</td>
              <td>05-14-2022</td>
              <td>processing</td>
              <td>$ 0.00</td>
              <td>Processing</td>
              <td class="highlightcell"></td>
              <td class="highlightcell"><a href="quotes/patch-view">View...</a></td>
            </tr>

            <tr>
              <th scope="row">4</th>
              <td>PPQ-37</td>
              <td></td>
              <td>asdf</td>
              <td>05-14-2022</td>
              <td>processing</td>
              <td>$ 0.00</td>
              <td>Processing</td>
              <td class="highlightcell"></td>
              <td class="highlightcell"><a href="quotes/patch-view">View...</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
