<div class="col-sm-12">
    <div class="card">
      <!-- <div class="card-header text-center">
        <h3>Digitizing Orders</h3>
      </div> -->
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped bg-primary ">
            <thead class="text-center">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Design No</th>
                <th scope="col">Design Name</th>
                <th scope="col">Order Date</th>
                <th scope="col">Submitted On	</th>
                <th scope="col">Price</th>
                <th scope="col">Convert To Order</th>
                <th scope="col">Quote Details</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <!-- 1st Row Start -->
              <tr>
                <th scope="row">1</th>
                <td>VQ-2551</td>
                <td>test</td>
                <td>03-14-2024</td>
                <td>processing</td>
                <td>$ 0.00</td>
                <td>-</td>
                <td><a href="quotes/vector-view">View...</a></td>
              </tr>
              <!-- 1ND Row End -->

              <!-- 1st Row Start -->
              <tr>
                <th scope="row">2</th>
                <td>VQ-2551</td>
                <td>test</td>
                <td>03-14-2024</td>
                <td>processing</td>
                <td>$ 0.00</td>
                <td>-</td>
                <td><a href="quotes/vector-view">View...</a></td>
              </tr>
              <!-- 1ND Row End -->

              <!-- 1st Row Start -->
              <tr>
                <th scope="row">3</th>
                <td>VQ-2551</td>
                <td>test</td>
                <td>03-14-2024</td>
                <td>processing</td>
                <td>$ 0.00</td>
                <td>-</td>
                <td><a href="quotes/vector-view">View...</a></td>
              </tr>
              <!-- 1ND Row End -->

              <!-- 1st Row Start -->
              <tr>
                <th scope="row">4</th>
                <td>VQ-2551</td>
                <td>test</td>
                <td>03-14-2024</td>
                <td>processing</td>
                <td>$ 0.00</td>
                <td>-</td>
                <td><a href="quotes/vector-view">View...</a></td>
              </tr>
              <!-- 1ND Row End -->

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  