.tableStyle>tr>td:nth-child(1){
background-color: #efefef !important;
}
.tableStyle>tr>td:nth-child(2){
    background-color: #f9f9f9 !important;
}

.rowStyle{
    border-radius: 25px;
    padding: 4%;
}
.headingStyle{
    margin-bottom: 50px;
    font-weight: bold;
}
.tableViewStyle{
    color:black;    
}