<div class="col-sm-12">
    <div class="card">
      <div class="card-header text-center">
          <h3>Paid Invoices List</h3>
        </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped bg-primary">
            <thead class="text-center">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Invoice No</th>
                <th scope="col">Invoice Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Paid Date</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <!-- 1st Row Start -->
              <tr>
                <th scope="row">1</th>
                <td>INV-7907</td>
                <td>2023-04-16</td>
                <td>$ 5</td>
                <td>paid</td>
                <td>2023-04-16</td>
                <td><a href="#">Review /Pay Invoice</a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>INV-7905</td>
              <td>2023-04-16</td>
              <td>$ 2</td>
              <td>paid</td>
              <td>2023-04-16</td>
              <td><a href="#">Review /Pay Invoice</a></td>
          </tr>
              <!-- 1ND Row End -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  